<header class="header">
  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png" alt="Pokeball" class="logo-icon">
  <h1>Pokédex Kanto</h1>
</header>

<main class="pokedex-grid">
  @for (pokemon of pokemons; track pokemon.id) {
    <div class="card-container">
      
      <div class="card-flipper">
        
        <div class="card-front">
          <span class="pokemon-id">#{{ pokemon.id | number:'3.0-0' }}</span>
          <img [src]="pokemon.sprites.other['official-artwork'].front_default" [alt]="pokemon.name">
          <h2>{{ pokemon.name | titlecase }}</h2>
          <div class="types-container">
            @for (typeInfo of pokemon.types; track typeInfo.type.name) {
              <span class="type-badge {{ typeInfo.type.name }}">
                {{ typeInfo.type.name | titlecase }}
              </span>
            }
          </div>
        </div>

        <div class="card-back {{ pokemon.types[0].type.name }}">
          <div class="back-header">
            <h3>Estadísticas Base</h3>
            <span class="pokemon-id-back">#{{ pokemon.id | number:'3.0-0' }}</span>
          </div>
          
          <div class="stats-container">
            @for (stat of pokemon.stats; track stat.stat.name) {
              <div class="stat-row">
                <span class="stat-name">{{ stat.stat.name | titlecase }}</span>
                <div class="stat-bar-bg">
                  <div class="stat-bar-fill" [style.width.%]="(stat.base_stat / 1.5)"></div>
                </div>
                <span class="stat-value">{{ stat.base_stat }}</span>
              </div>
            }
          </div>
          
          <div class="extra-info">
            <p>Altura: {{ pokemon.height / 10 }} m</p>
            <p>Peso: {{ pokemon.weight / 10 }} kg</p>
          </div>
        </div>
        
      </div> </div> } @empty {
    <p class="loading">Buscando Pokémon en la hierba alta...</p>
  }
</main>